.back-grey {
    background-color: lightgrey;
}

#landing_image {
    float: left; 
    margin: 10px;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    color: steelblue;
}

hr {
    border: none;
    height: 2px;
    background: rgba(61, 60, 60, 0.76);
    padding: 0px;
    margin: 2px;
}

table {
    table-layout: fixed ;
    width: 100% ;
    background-color: whitesmoke;
  }
  td {
    width: 10% ;
  }

.text-center {
    text-align: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.left-buffer {
    margin-left: 5%;
}

.text-justified {
    text-align: justify;
}